<link rel="stylesheet" href="/css/home.css">
<script src="https://kit.fontawesome.com/8a540595d6.js" crossorigin="anonymous"></script>
<script src="/js/home.js"></script>

<form action="/add-task" method="post">
    <label for="task">Description</label>
    <input id="task" type="text" placeholder="enter task..." name="task" required>

    <label for="category">Category</label>
    <select name="category" id="category" required>
        <option value="Personal">Personal</option>
        <option value="Work">Work</option>
        <option value="School">School</option>
        <option value="Other">Other</option>
    </select>

    <label for="due_date">Due Date</label>
    <input id="due_date" type="date" name="due_date" required>
    <br>

    <button type="submit"><i class="fa-solid fa-plus"></i> Add Task</button>
</form>

<div id="task-container">
    <% for (let t of taskList) { %>
        <div class="taskdiv">
            <div class="task-info">
                <input type="checkbox" id="<%= t._id%>" <%= t.completed ? 'checked' : '' %>>
                <div>
                    <h3><%= t.task %></h3>
                    <span><i class="fa-solid fa-calendar-days"></i><%= t.due_date.toDateString() %></span>
                </div>
            </div>
            <div>
                <span class="task-tag" style="background: <%= t.tagColor %>;"><%= t.category %></span>
                <a href="/delete-task/?id=<%= t._id %>"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    <% } %>    
</div>